# Test Report

This report answers following questions:

- How did you test your code?
- How long does it take to process a single post (performance)?
- Does the size of the data submitted to the server impact the performance?
- How does the number of requests impact the performance of the server?
- How does the level of concurrency impact the performance of the server?


